@charset "utf-8";

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.wapper {
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .wapper {
        min-width: 1200px;
    }
}

@media screen and (max-width: 767px) {
    .wapper {
        width: 100%;
    }
}


/* ヘッダー */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

@media screen and (min-width: 768px) {
    .header {
        padding: 30px;
    }
}

@media screen and (max-width: 767px) {
    .header {
        padding: 20px;
    }
}

.header h1 {
    font-weight: bold;
}

@media screen and (min-width: 768px) {
    .header h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 767px) {
    .header h1 {
        font-size: 20px;
    }
}



/* KV */
.outer {
    position: relative;
    display: inline-block;
    background: linear-gradient(to right, rgba(254, 82, 111), rgb(68, 120, 251));
    width: 100%;
}

@media screen and (min-width: 768px) {
    .outer {
        height: 600px;
        margin-top: 90px;
    }
}

@media screen and (max-width: 767px) {
    .outer {
        height: 500px;
        margin-top: 60px;
    }
}

.outer--bg,
.outer--bg img {
    width: 100%;
    height: 100%;
}

.outer--bg img {
    opacity: .5;
    object-fit: cover;
    object-position: center;
}

.inner {
    display: flex;
    position: absolute;
    background-color: rgb(255, 255, 255, .5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
    .inner {
        align-items: center;
        gap: 60px;
        width: fit-content;
        padding: 40px 60px;
    }
}

@media screen and (max-width: 767px) {
    .inner {
        flex-direction: column;
        gap: 30px;
        width: 80%;
        padding: 30px 20px;
    }
}

.inner2 {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .inner2 {
        gap: 30px;
    }
}

@media screen and (max-width: 767px) {
    .inner2 {
        gap: 30px;
    }
}

@media screen and (min-width: 768px) {
    .herotitle {
        width: 500px;
    }
}

@media screen and (max-width: 767px) {
    .herotitle {
        width: 100%;
    }
}

.herotitle img {
    width: 100%;
}

.words {
    text-align: center;
}

.words p {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
    line-height: 1.5;
}

@media screen and (min-width: 768px) {
    .words p {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    .words p {
        font-size: calc((12 / 390) * 100vw);
    }
}

.contact {
    background-color: rgb(252, 59, 91);
    height: fit-content;
    display: block;
    padding: 10px;
}

@media screen and (min-width: 768px) {
    .contact {
        width: 400px;
    }
}

@media screen and (max-width: 767px) {
    .contact {
        width: fit-content;
        margin: 0 auto;
    }
}

.contact .contact--inner {
    padding: 20px 0;
    border: 2px solid white;
}

@media screen and (min-width: 768px) {
    .contact .contact--inner {
        padding: 20px 0;
    }
}

@media screen and (max-width: 767px) {
    .contact .contact--inner {
        padding: 30px 20px;
    }
}

.contact .contact--inner p {
    text-align: center;
    color: white;
}

@media screen and (min-width: 768px) {
    .contact .contact--inner p {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .contact .contact--inner p {
        font-size: calc((12 / 390) * 100vw);
    }
}

.outer .inner .inner--deco {
    display: contents;
}

.outer .inner .inner--deco .icon {
    aspect-ratio: 236/172;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
}

.outer .inner .inner--deco .icon:nth-child(1),
.outer .inner .inner--deco .icon:nth-child(6),
.outer .inner .inner--deco .icon:nth-child(7) {
    background-image: url(/images/hukidasi1.png);
}

.outer .inner .inner--deco .icon:nth-child(2),
.outer .inner .inner--deco .icon:nth-child(4) {
    background-image: url(/images/hukidasi3.png);
}

.outer .inner .inner--deco .icon:nth-child(3),
.outer .inner .inner--deco .icon:nth-child(5) {
    background-image: url(/images/hukidasi4.png);
}

@media screen and (min-width: 768px) {
    .outer .inner .inner--deco .icon:nth-child(1) {
        width: 40px;
        left: 0;
    }
}

@media screen and (max-width: 767px) {
    .outer .inner .inner--deco .icon:nth-child(1) {
        width: 6%;
        left: -5%;
    }
}

@media screen and (min-width: 768px) {
    .outer .inner .inner--deco .icon:nth-child(2) {
        width: 80px;
        left: -50px;
    }
}

@media screen and (max-width: 767px) {
    .outer .inner .inner--deco .icon:nth-child(2) {
        width: 10%;
        left: -2%;
    }
}


@media screen and (min-width: 768px) {
    .outer .inner .inner--deco .icon:nth-child(3) {
        width: 50px;
        left: 30px;
    }
}

@media screen and (max-width: 767px) {
    .outer .inner .inner--deco .icon:nth-child(3) {
        width: 8%;
        left: 1%;
    }
}

@media screen and (min-width: 768px) {
    .outer .inner .inner--deco .icon:nth-child(4) {
        width: 80px;
        right: 10px;
    }
}

@media screen and (max-width: 767px) {
    .outer .inner .inner--deco .icon:nth-child(4) {
        width: 10%;
        right: 1%;
    }
}

@media screen and (min-width: 768px) {
    .outer .inner .inner--deco .icon:nth-child(5) {
        width: 40px;
        right: 500px;
    }
}

@media screen and (max-width: 767px) {
    .outer .inner .inner--deco .icon:nth-child(5) {
        width: 6%;
        right: 0%;
    }
}

@media screen and (min-width: 768px) {
    .outer .inner .inner--deco .icon:nth-child(6) {
        width: 40px;
        right: 60px;
    }
}

@media screen and (max-width: 767px) {
    .outer .inner .inner--deco .icon:nth-child(6) {
        width: 6%;
        right: -3%;
    }
}

@media screen and (min-width: 768px) {
    .outer .inner .inner--deco .icon:nth-child(7) {
        width: 60px;
        right: 530px;
    }
}

@media screen and (max-width: 767px) {
    .outer .inner .inner--deco .icon:nth-child(7) {
        width: 8%;
        right: -9%;
    }
}