@charset "utf-8";

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
    overflow: hidden;
}

/* PC */
@media screen and (min-width: 768px) {

    /* 画面サイズが768pxからはここを読み込む */
    .wrapper {
        min-width: 1200px;
        /* PC ラッパー部分横幅1200px */
    }
}

/* SP */
@media screen and (max-width: 767px) {

    /* 画面サイズが767pxまではここを読み込む */
    .wrapper {
        width: 100%;
    }
}

/* ヘッダー ここから */
/*---------------------------------------------------------------------*/
.header {
    position: fixed;
    /*  要素の位置を固定 */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

/* PC */
@media screen and (min-width: 768px) {
    .header {
        padding: 30px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .header {
        padding: 20px;
    }
}

.header h1 {
    font-weight: bold;
    /* 太字 */
}

/* PC */
@media screen and (min-width: 768px) {
    .header h1 {
        font-size: 30px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .header h1 {
        font-size: 20px;
    }
}

/* KV　ここから */
/* ------------------------------------------------------------------------------------ */
/* グラデーション枠 */
.outer {
    position: relative;
    display: inline-block;
    /* 横並び */
    background: linear-gradient(to right, rgb(254, 82, 111), rgb(68, 120, 251));
    width: 100%;
}

/* PC */
@media screen and (min-width: 768px) {
    .outer {
        height: 600px;
        margin-top: 90px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .outer {
        height: 500px;
        margin-top: 60px;
    }
}

.outer--bg,
.outer--bg img {
    width: 100%;
    height: 100%;
}

.outer--bg img {
    opacity: .5;
    object-fit: cover;
    /* アスペクト維持したまま拡大縮小 */
    object-position: center;
}



/* 透明な白枠内 */
.inner {
    display: flex;
    /* 横並び */
    position: absolute;
    background-color: rgb(255, 255, 255, .5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*  中央揃え */
}

/* PC */
@media screen and (min-width: 768px) {
    .inner {
        align-items: center;
        /* アイテムを中央付近にまとめる */
        gap: 60px;
        /*  行や列の隙間 */
        width: fit-content;
        /*  ボックス */
        padding: 40px 60px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .inner {
        flex-direction: column;
        /*  主軸の方向や向き */
        gap: 30px;
        width: 80%;
        padding: 30px 20px;
    }
}

.inner2 {
    display: flex;
    flex-direction: column;
    /* 主軸の方向や向き */
}

/* PC */
@media screen and (min-width: 768px) {
    .inner2 {
        gap: 30px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .inner2 {
        gap: 30px;
        /* 行や列の隙間 */
    }
}


/* PC */
@media screen and (min-width: 768px) {
    .herotitle {
        width: 500px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .herotitle {
        width: 100%;
    }
}

/* Instagram運用ならお任せください */
.herotitle img {
    width: 100%;
}

/* 運用を支援します */
.words {
    text-align: center;
    /* 中央揃え */
}

.words p {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
    line-height: 1.5;

}

/* PC */
@media screen and (min-width: 768px) {
    .words p {
        font-size: 20px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .words p {
        font-size: calc((12 / 390) * 100vw);
    }
}

.contact {
    background-color: rgb(252, 59, 91);
    height: fit-content;
    /* 親要素からはみ出さず伸縮 */
    display: block;
    /*  横に広がり縦に並ぶ */
    padding: 10px;
}

/* PC */
@media screen and (min-width: 768px) {
    .contact {
        width: 400px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .contact {
        width: fit-content;
        /* ボックス */
        margin: 0 auto;
        /*  中央揃え */
    }
}

.contact .contact--inner {
    padding: 20px 0;
    border: 2px solid white;
    /* ボーダー */
}

/* PC */
@media screen and (min-width: 768px) {
    .contact .contact--inner {
        padding: 20px 0;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .contact .contact--inner {
        padding: 30px 20px;
    }
}

.contact .contact--inner p {
    text-align: center;
    color: white;
}

/* PC */
@media screen and (min-width: 768px) {
    .contact .contact--inner p {
        font-size: 16px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .contact .contact--inner p {
        font-size: calc((12 / 390) * 100vw);
    }
}

.outer .inner .inner--deco {
    display: contents;
    /* ボックス非生成 */
}

.outer .inner .inner--deco .icon {
    aspect-ratio: 236/172;
    /* 推奨アスペクト比 width/height */
    background-size: contain;
    /* コンテナー内で可能な限り大きく */
    background-repeat: no-repeat;
    /*  背景画像をリピートしない */
    background-position: center;
    position: absolute;
    /* 画像　上 */
}

.outer .inner .inner--deco .icon:nth-child(1),
.outer .inner .inner--deco .icon:nth-child(6),
.outer .inner .inner--deco .icon:nth-child(7) {
    background-image: url(/images/hukidasi1.png);
}

.outer .inner .inner--deco .icon:nth-child(2),
.outer .inner .inner--deco .icon:nth-child(4) {
    background-image: url(/images/hukidasi3.png);
}

.outer .inner .inner--deco .icon:nth-child(3),
.outer .inner .inner--deco .icon:nth-child(5) {
    background-image: url(/images/hukidasi4.png);
}

/* PC */
@media screen and (min-width: 768px) {
    .outer .inner .inner--deco .icon:nth-child(1) {
        width: 40px;
        left: 0;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .outer .inner .inner--deco .icon:nth-child(1) {
        width: 6%;
        left: -5%;
    }
}

/* PC */
@media screen and (min-width: 768px) {
    .outer .inner .inner--deco .icon:nth-child(2) {
        width: 80px;
        left: -50px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .outer .inner .inner--deco .icon:nth-child(2) {
        width: 10%;
        left: -2%;
    }
}

/* PC */
@media screen and (min-width: 768px) {
    .outer .inner .inner--deco .icon:nth-child(3) {
        width: 50px;
        left: 30px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .outer .inner .inner--deco .icon:nth-child(3) {
        width: 8%;
        left: 1%;
    }
}

/* PC */
@media screen and (min-width: 768px) {
    .outer .inner .inner--deco .icon:nth-child(4) {
        width: 80px;
        right: 10px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .outer .inner .inner--deco .icon:nth-child(4) {
        width: 10%;
        right: 1%;
    }
}

/* PC */
@media screen and (min-width: 768px) {
    .outer .inner .inner--deco .icon:nth-child(5) {
        width: 40px;
        right: 500px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .outer .inner .inner--deco .icon:nth-child(5) {
        width: 6%;
        right: 0%;
    }
}

/* PC */
@media screen and (min-width: 768px) {
    .outer .inner .inner--deco .icon:nth-child(6) {
        width: 40px;
        right: 60px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .outer .inner .inner--deco .icon:nth-child(6) {
        width: 6%;
        right: -3%;
    }
}

/* PC */
@media screen and (min-width: 768px) {
    .outer .inner .inner--deco .icon:nth-child(7) {
        width: 60px;
        right: 530px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .outer .inner .inner--deco .icon:nth-child(7) {
        width: 8%;
        right: -9%;
    }
}

/* アニメーション */
/* toTop */
/* ------------------------------------------------------------------------ */
.toTop {
    animation: toTop 8s ease-in-out infinite;
    opacity: 0;
}

@keyframes toTop {
    0% {
        bottom: 0;
        opacity: 0;
    }

    5% {
        bottom: 0;
        opacity: .3;
    }

    10% {
        bottom: 0;
        opacity: 1;
    }

    100% {
        bottom: 95%;
        opacity: 0;
    }
}

/* animation-delay */
.delay05 {
    animation-delay: 0.5s;
}

.delay10 {
    animation-delay: 1s;
}

.delay15 {
    animation-delay: 1.5s;
}

.delay20 {
    animation-delay: 2s;
}

/* animation-duration */
.duration5 {
    animation-duration: 5s;
}

.duration10 {
    animation-duration: 10s;
}

/* KV ここまで */

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
/* KV2 ここから */
.comment {
    background-color: white;
}

/* PC */
@media screen and (min-width:768px) {
    .comment {
        padding: 15px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .comment {
        padding: 20px;
    }
}


/* ハート、吹き出し、紙飛行機、ブクマ */
.comment .instaicon {
    display: flex;
}



/* ブクマ */
.icon2 {
    background-color: white;
}

/* PC */
@media screen and (min-width:768px) {
    .icon2 {
        margin-left: auto;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .icon2 {
        margin-left: auto;
    }
}

/* 顔のアイコン */
.goodicon {
    display: flex;
    margin-top: 15px;
    margin-bottom: 25px;
}

/* いいね! */
.goodicon p {
    margin-top: 10px;
    margin-left: 10px;
}

.messages {
    display: flex;
    padding-bottom: 20px;
}

.KV--words h4 {
    font-weight: bold;
    padding-right: 20px;
}

/* ハッシュタグ */
.hashtug {
    display: flex;
    font-size: 15px;
    color: rgb(53, 53, 156);
    gap: 15px;
}

/* .hushtug p{
    padding:10px;
} */

/* KV2 ここまで */

/* メイン　ここから */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.onayami {
    background-color: white;
    position: relative;
    background-image: url(../images/detailbg.png);
    /* 背景画像 */
    background-position: 50% 50%;
    /* 画像中央を起点に表示 */
}

/* PC */
@media screen and (min-width:768px) {
    .onayami {
        background-size: cover;
        /* 縦横比を維持しながら全体に収まるように表示 */
        padding-top: 100px;

    }
}

/* SP */
@media screen and (max-width:767px) {
    .onayami {
        background-size: cover;
        padding-top: 80px;
    }

}

.onayami--logo {
    margin: 0 auto;
}

/* PC */
@media screen and (min-width:768px) {
    .onayami--logo {
        width: 718px;
    }

}

/* SP */
@media screen and (max-width:767px) {
    .onayami--logo {
        width: 500px;

    }

}

.onayami--logo img {
    display: block;
}

/* SP */
@media screen and (max-width:767px) {
    .onayami--logo img {
        width: 500px;
        height: auto;
    }
}

/* オレンジの雲 */
.motion2 {
    position: absolute;

}

/* PC */
@media screen and (min-width:768px) {
    .motion2 {
        width: 250px;
        height: auto;
        left: 30px;
        top: 50px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .motion2 {
        width: 150px;
        height: auto;
        top: 30px;
        left: 25px;
    }
}


/* ピンクの雲 */
.motion3 {
    position: absolute;

}

/* PC */
@media screen and (min-width:768px) {
    .motion3 {
        width: 350px;
        height: auto;
        right: 60px;
        top: 50px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .motion3 {
        width: 200px;
        height: auto;
        right: 30px;
        top: 20px;
    }
}


/* ブルーの雲 */
.motion4 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .motion4 {
        width: 200px;
        height: auto;
        left: 200px;
        top: 400px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .motion4 {
        width: 130px;
        height: auto;
        left: 40px;
        top: 300px;
    }
}


.hukidashi--all {
    position: relative;
}

/* PC */
@media screen and (min-width:768px) {
    .hukidashi--all {
        width: 900px;
        height: 800px;
        margin: 0 auto;
        margin-bottom: 80px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .hukidashi--all {
        width: 700px;
        height: 600px;
        margin: 0 auto;
        margin-bottom: 100px;
    }

}

.hukidashi--1 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .hukidashi--1 {
        width: 250px;
        height: auto;
        top: 250px;
        left: 0;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .hukidashi--1 {
        width: 200px;
        height: auto;
        top: 200px;
        left: 50px;
    }
}

.hukidashi--2 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .hukidashi--2 {
        width: 250px;
        height: auto;
        top: 200px;
        right: 350px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .hukidashi--2 {
        width: 200px;
        height: auto;
        top: 200px;
        left: 250px;
    }
}

.hukidashi--3 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .hukidashi--3 {
        width: 250px;
        height: auto;
        top: 250px;
        right: 20px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .hukidashi--3 {
        width: 200px;
        height: auto;
        top: 200px;
        left: 450px;
    }
}

.hukidashi--4 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .hukidashi--4 {
        width: 250px;
        height: auto;
        top: 450px;
        left: 0;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .hukidashi--4 {
        width: 200px;
        height: auto;
        top: 350px;
        left: 30px;
    }
}

.hukidashi--5 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .hukidashi--5 {
        width: 250px;
        height: auto;
        top: 450px;
        left: 300px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .hukidashi--5 {
        width: 200px;
        height: auto;
        top: 400px;
        left: 250px;
    }
}

.hukidashi--6 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .hukidashi--6 {
        width: 250px;
        height: auto;
        top: 500px;
        right: 0;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .hukidashi--6 {
        width: 200px;
        height: auto;
        top: 450px;
        left: 450px;
    }
}

.hukidashi--7 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .hukidashi--7 {
        width: 250px;
        height: auto;
        top: 700px;
        left: 0;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .hukidashi--7 {
        width: 200px;
        height: auto;
        top: 550px;
        left: 60px;
    }
}

.hukidashi--8 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .hukidashi--8 {
        width: 250px;
        height: auto;
        top: 750px;
        right: 350px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .hukidashi--8 {
        width: 200px;
        height: auto;
        top: 650px;
        left: 280px;
    }
}

.hukidashi--9 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .hukidashi--9 {
        width: 130px;
        height: auto;
        top: 700px;
        right: 150px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .hukidashi--9 {
        width: 100px;
        height: auto;
        top: 600px;
        left: 500px;
    }
}

/* PC */
@media screen and (min-width:768px) {
    .onayami--person {
        width: 800px;
        margin: 0 auto;

    }
}

/* SP */
@media screen and (max-width:767px) {
    .onayami--person {
        width: 600px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}


/* 雲 */
.motion5 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .motion5 {
        padding-bottom: 300px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .motion5 {
        padding-bottom: 100px;
    }
}


.omakase {
    position: relative;
    margin: 0 auto;

}

/* PC */
@media screen and (min-width:768px) {
    .omakase {
        width: 750px;
        height: 400px;

    }
}

/* SP */
@media screen and (max-width:767px) {
    .omakase {
        width: 500px;
        height: 250px;
    }
}

.omakase--logo {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;

}


.denkyu {
    position: absolute;
}


/* PC */
@media screen and (min-width:768px) {
    .denkyu {
        width: 80px;
        height: auto;
        top: 5px;
        right: 120px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .denkyu {
        width: 50px;
        height: auto;
        top: 5px;
        right: 60px;
    }
}





/* PC */
@media screen and (min-width:768px) {
    .motion5 {
        width: 1100px;
        height: auto;
        bottom: 100px;
        left: 150px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .motion5 {
        width: 750px;
        height: auto;
        bottom: 200px;
    }
}


/* メイン　１　ここまで */

/* メイン２ ここから */
/* --------------------------------------------------------------------------------------*/

/* ピンク　背景 */
.how {
    background-color: rgb(255, 229, 233);
    background-image: url(../images/bg.png);
    /* 背景画像 */
    background-position: 50% 50%;
    /* 画像中央を起点に表示 */
}

/* PC */
@media screen and (min-width:768px) {
    .how {
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .how {
        background-size: cover;
        padding-top: 100px;
        padding-bottom: 70px;
    }
}

/* グラムニスタ　とは */
.how--logo {
    margin: auto;
}

/* PC */
@media screen and (min-width:768px) {
    .how--logo {
        padding-bottom: 50px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .how--logo {
        padding-bottom: 50px;
    }
}

.how--box {
    background: white;
    border-radius: 30px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);
    position: relative;

}

/* PC */
@media screen and (min-width:768px) {
    .how--box {
        width: 1100px;
        margin: 0 auto;
        /* margin-bottom: 150px; */

    }
}

/* SP */
@media screen and (max-width:767px) {
    .how--box {
        width: 550px;
        margin: 0 auto;
        /* margin-bottom: 100px; */
    }
}

.service {
    text-align: center;
}

/* PC */
@media screen and (min-width:768px) {
    .service {
        font-size: 25px;
        padding-top: 100px;
        padding-bottom: 70px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .service {
        font-size: 20px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.yelowline1 img {
    margin: 0 auto;
}

/* PC */
@media screen and (min-width:768px) {
    .yelowline1 img {
        width: 400px;
        height: 20px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .yelowline1 img {
        width: 330px;
        height: 10px;
    }
}


.yelowline2 img {
    margin: 0 auto;
}

/* PC */
@media screen and (min-width:768px) {
    .yelowline2 img {
        width: 350px;
        height: 20px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .yelowline2 img {
        width: 260px;
        height: 10px;
    }
}

.box2--wrap {
    margin: 0 auto;

}

/* PC */
@media screen and (min-width:768px) {
    .box2--wrap {
        width: 950px;
        display: flex;
        gap: 50px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .box2--wrap {
        width: 400px;
    }
}



.how--box2 {
    background: rgb(245, 245, 245);
    border-radius: 20px;
    position: relative;

}

/* PC */
@media screen and (min-width:768px) {
    .how--box2 {
        width: 450px;
        height: 300px;
        padding: 35px 25px;

    }
}

/* SP */
@media screen and (max-width:767px) {
    .how--box2 {
        width: 400px;
        height: 300px;
        padding: 30px 20px;

    }
}

/* SP */
@media screen and (max-width:767px) {
    .how--box2:nth-child(1) {
        margin-bottom: 40px;
    }
}

.how--box2 p {
    text-align: center;
}

/* PC */
@media screen and (min-width:768px) {
    .how--box2 p {
        font-size: 20px;
        margin-bottom: 30px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .how--box2 p {
        font-size: 18px;
        margin-bottom: 25px;
    }
}

/* 
.how--box1 {
    background: rgb(245, 245, 245);
    border-radius: 20px;
    position: relative;

} */
/* 
PC
@media screen and (min-width:768px) {
    .how--box1 {
        width: 450px;
        height: 300px;
        padding: 35px 25px;
        margin-top: 20px;
        margin-left: 20px;
    }
} */
/* 
SP
@media screen and (max-width:767px) {
    .how--box1 {
        width: 400px;
        height: 300px;
        padding: 30px 20px;
    }
} */

/* 
.how--box1 p {
    text-align: center;
} */
/* 
PC
@media screen and (min-width:768px) {
    .how--box1 p {
        font-size: 20px;
        margin-bottom: 30px;
    }
} */
/* 
SP
@media screen and (max-width:767px) {
    .how--box1 p {
        font-size: 18px;
        margin-bottom: 25px;
    }
} */

.peple--foll {
    margin: 0 auto;
    display: flex;
}

/* PC */
@media screen and (min-width:768px) {
    .peple--foll {
        width: 400px;
        height: 180px;

    }
}

/* SP */
@media screen and (max-width:767px) {
    .peple--foll {
        width: 310px;
        height: 180px;

    }
}

.peple3 {
    object-fit: contain;
}

/* PC */
@media screen and (min-width:768px) {
    .peple3 {
        width: 250px;
        height: auto;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .peple3 {
        width: 210px;
        height: auto;
        left: 10px;
        bottom: 40px;
    }
}

.follwme {
    object-fit: contain;
}

/* PC */
@media screen and (min-width:768px) {
    .follwme {
        width: 130px;
        height: auto;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .follwme {
        width: 100px;
        height: auto;
        /* left: 200px;
        bottom: 90px; */
    }
}



.number_one {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .number_one {
        width: 90px;
        height: auto;
        top: -30px;
        left: -20px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .number_one {
        width: 70px;
        height: auto;
        top: -20px;
        left: -15px;
    }
}



.sumaho--post {
    margin: 0 auto;
    display: flex;
}

/* PC */
@media screen and (min-width:768px) {
    .sumaho--post {
        width: 350px;
        height: 200px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .sumaho--post {
        width: 300px;
        height: 200px;
    }
}

.sumaho {
    object-fit: contain;
}

/* PC */
@media screen and (min-width:768px) {
    .sumaho {
        width: 200px;
        height: auto;

    }
}

/* SP */
@media screen and (max-width:767px) {
    .sumaho {
        width: 200px;
        height: auto;
        bottom: 20px;
    }
}

.post {
    object-fit: contain;
}

/* PC */
@media screen and (min-width:768px) {
    .post {
        width: 150px;
        height: auto;

    }
}

/* SP */
@media screen and (max-width:767px) {
    .post {
        width: 100px;
        height: auto;
        left: 200px;
        bottom: 50px;
    }
}


.number_two {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .number_two {
        width: 90px;
        height: auto;
        /* top: 0; */
        top: -30px;
        left: -20px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .number_two {
        width: 70px;
        height: auto;
        top: -20px;
        left: -15px;
    }
}



.peple--wow {
    position: relative;
}


.peple {
    margin: 0 auto;
}

/* PC */
@media screen and (min-width:768px) {
    .peple {
        width: 1100px;
        height: auto;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .peple {
        width: 550px;
        height: auto;
    }
}

.wow {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .wow {
        top: 200px;
        right: 250px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .wow {
        width: 150px;
        height: auto;
        top: 100px;
        right: 120px;
    }
}



/* メイン2 ここまで */

/* メイン３　ここから */
/* ----------------------------------------------------------------------------------------------- */
.step1 {
    background: white;
}

/* PC */
@media screen and (min-width:768px) {
    .step1 {
        padding-bottom: 50px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .step1 {
        padding-bottom: 50px;
    }
}

.step1--box {
    background: rgb(228, 37, 101);
    position: relative;
}

/* PC */
@media screen and (min-width:768px) {
    .step1--box {
        margin-bottom: 40px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .step1--box {
        margin-bottom: 20px;
    }
}

.about--step1 {
    /* step1画像 */
    object-fit: contain;
    margin: 0 auto;
    display: block;
    /* position: relative; */
}

/* PC */
@media screen and (min-width:768px) {
    .about--step1 {
        width: 550px;
        height: auto;
        padding: 80px 80px 120px 80px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .about--step1 {
        width: 500px;
        height: auto;
        padding: 80px 80px 130px 80px;

    }
}

.karabako {
    background-color: white;
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .karabako {
        width: 100%;
        height: 50px;
        bottom: 0;
        border-radius: 50% 50% 0 0;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .karabako {
        width: 100%;
        height: 70px;
        bottom: 0;
        border-radius: 50% 50% 0 0;
    }
}

.sideline {
    position: relative;
}

.sideline--l {
    /* サイドライン左 */
    position: absolute;


    object-fit: contain;
}

/* PC */
@media screen and (min-width:768px) {
    .sideline--l {
        width: 30px;
        height: auto;
        left: 10px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .sideline--l {
        width: 15px;
        height: auto;
        left: 8px;
    }
}


.sideline--r {
    /*  サイドライン右 */
    position: absolute;
    object-fit: contain;

}

/* PC */
@media screen and (min-width:768px) {
    .sideline--r {
        width: 30px;
        height: auto;
        right: 10px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .sideline--r {
        width: 15px;
        height: auto;
        right: 8px;
    }
}

.sideline--r img {
    margin-left: auto;
}


.crown {
    display: flex;
    align-items: flex-end;
    /* 子要素の高さを指定 */
    justify-content: center;
    /* 中央配置 */

}

.crown img {
    margin-right: 30px;
    object-fit: contain;
}

/* PC */
@media screen and (min-width:768px) {
    .crown img {
        width: 70px;
        height: auto;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .crown img {
        width: 50px;
        height: auto;
    }
}

.crown p {
    font-weight: bold;
    color: black;
}

/* PC */
@media screen and (min-width:768px) {
    .crown p {
        font-size: 1.5rem;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .crown p {
        font-size: 1rem;
    }
}


.yoso {
    /* position: relative; */
}

/* PC */
@media screen and (min-width:768px) {
    .yoso {
        display: flex;
        margin: 0 auto;
        width: 780px;
        padding-top: 100px;
        gap: 80px;
        padding-bottom: 50px;


    }
}

/* SP */
@media screen and (max-width:767px) {
    .yoso {
        display: flex;
        padding-top: 60px;
        padding-bottom: 10px;
    }
}

.orange {
    position: absolute;
    object-fit: contain;
}

/* PC */
@media screen and (min-width:768px) {
    .orange {
        width: 200px;
        height: auto;
        left: 180px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .orange {
        width: 150px;
        height: auto;

    }
}



.yoso1 {}

/* PC */
@media screen and (min-width:768px) {
    .yoso1 {
        width: 350px;
        margin-top: 150px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .yoso1 {
        width: 350px;
        margin-top: 120px;
        margin-right: auto;
    }
}

.action {
    background-color: white;
    border-width: 5px;
    border: solid 5px;
    border-radius: 50px;
    border-color: pink;

}

/* PC */
@media screen and (min-width:768px) {
    .action {
        width: 350px;
        height: 300px;
        margin-bottom: 50px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .action {
        width: 350px;
        height: 300px;
        margin-bottom: 50px;
    }
}

.action p {
    text-align: center;
}

/* PC */
@media screen and (min-width:768px) {
    .action p {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .action p {
        font-size: 20px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
}

.ac--peple {
    margin: 0 auto;
    object-fit: contain;
}

/* PC */
@media screen and (min-width:768px) {
    .ac--peple {
        width: 300px;
        height: auto;

    }
}

/* SP */
@media screen and (max-width:767px) {
    .ac--peple {
        width: 300px;
        height: auto;
    }
}


.ude1 {
    object-fit: contain;
}

/* PC */
@media screen and (min-width:768px) {
    .ude1 {
        width: 350px;
        height: auto;

    }
}

/* SP */
@media screen and (max-width:767px) {
    .ude1 {
        width: 320px;
        height: auto;
    }
}




.yoso2 {
    position: relative;
}

/* PC */
@media screen and (min-width:768px) {
    .yoso2 {
        width: 350px;

    }
}

/* SP */
@media screen and (max-width:767px) {
    .yoso2 {
        width: 350px;
        margin-left: auto;
        margin-top: 220px;
        padding-top: 220px;
    }
}


.pink {
    position: absolute;
    object-fit: contain;
}

/* PC */
@media screen and (min-width:768px) {
    .pink {
        width: 250px;
        height: auto;
        right: -50px;
        bottom: -20px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .pink {
        width: 250px;
        height: auto;
        right: 50px;
        top: 20px;
    }
}

.tokonaiyou {
    background-color: white;
    border-width: 5px;
    border: solid 5px;
    border-radius: 50px;
    border-color: pink;

}

/* PC */
@media screen and (min-width:768px) {
    .tokonaiyou {
        width: 350px;
        height: 300px;
        margin-bottom: 50px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .tokonaiyou {
        width: 350px;
        height: 300px;
        margin-bottom: 50px;
    }
}


.tokonaiyou p {
    text-align: center;
}

/* PC */
@media screen and (min-width:768px) {
    .tokonaiyou p {
        font-size: 20px;
        margin-top: 30px;
        margin-bottom: 5px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .tokonaiyou p {
        font-size: 20px;
        margin-top: 25px;
        margin-bottom: 5px;
    }
}


.ac--peple2 {
    margin: 0 auto;
    object-fit: contain;
}

/* PC */
@media screen and (min-width:768px) {
    .ac--peple2 {
        width: 300px;
        height: auto;

    }
}

/* SP */
@media screen and (max-width:767px) {
    .ac--peple2 {
        width: 300px;
        height: auto;
    }
}


.ude2 {
    object-fit: contain;
}

/* PC */
@media screen and (min-width:768px) {
    .ude2 {
        width: 290px;
        height: auto;
        margin-left: auto;

    }
}

/* SP */
@media screen and (max-width:767px) {
    .ude2 {
        width: 330px;
        height: auto;
        margin-left: auto;
    }
}


.syukyaku {}

/* PC */
@media screen and (min-width:768px) {
    .syukyaku {
        padding-bottom: 70px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .syukyaku {
        padding-bottom: 60px;
    }
}

.syukyaku p {
    text-align: center;

}

/* PC */
@media screen and (min-width:768px) {
    .syukyaku p {
        font-size: 21px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .syukyaku p {
        font-size: 20px;
    }
}

.yellow--box {
    border-width: 5px;
    border: solid 5px;
    position: relative;
    border-color: rgb(0, 0, 0);
    margin: 0 auto;
    background-color: rgb(255, 234, 0);
    position: relative;
}

/* PC */
@media screen and (min-width:768px) {
    .yellow--box {
        width: 700px;
        padding: 50px 20px;
        /* margin-bottom: 100px; */
        /* margin-bottom: 80px; */
    }
}

/* SP */
@media screen and (max-width:767px) {
    .yellow--box {
        width: 500px;
        padding: 40px;
        /* margin-bottom: 50px; */
    }
}


.bolt {
    width: 30px;
    aspect-ratio: 1;
    display: flex;
    position: absolute;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background-color: black;
}


.bolt p {
    color: white;
    font-size: 30px;
    top: 50%;
    left: 50%;
    translate: -50%, -50%;
}


/* PC */
@media screen and (min-width:768px) {
    .bolt:nth-child(1) {
        top: 12px;
        left: 12px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .bolt:nth-child(1) {
        top: 8px;
        left: 8px;
    }
}

/* PC */
@media screen and (min-width:768px) {
    .bolt:nth-child(2) {
        top: 12px;
        right: 12px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .bolt:nth-child(2) {
        top: 8px;
        right: 8px;
    }
}

/* PC */
@media screen and (min-width:768px) {
    .bolt:nth-child(3) {
        bottom: 12px;
        left: 12px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .bolt:nth-child(3) {
        bottom: 8px;
        left: 8px;
    }
}

/* PC */
@media screen and (min-width:768px) {
    .bolt:nth-child(4) {
        bottom: 12px;
        right: 12px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .bolt:nth-child(4) {
        bottom: 8px;
        right: 8px;
    }
}


.yellow--words {
    text-align: center;
}

/* PC */
@media screen and (min-width:768px) {
    .yellow--words {
        font-size: 25px;

    }
}

/* SP */
@media screen and (max-width:767px) {
    .yellow--words {
        font-size: 20px;
    }
}

.huyasu--ga {
    display: flex;
    margin: 0 auto;
    align-items: flex-end;
}

/* PC */
@media screen and (min-width:768px) {
    .huyasu--ga {
        width: 350px;
        margin-bottom: 20px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .huyasu--ga {
        width: 295px;
        padding-bottom: 20px;
    }
}

.huyasu {
    color: rgb(255, 64, 150);

}

.huyasu p {
    font-weight: bold;

}

/* PC */
@media screen and (min-width:768px) {
    .huyasu p {
        font-size: 30px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .huyasu p {
        font-size: 25px;
    }
}

.ga {}

/* PC */
@media screen and (min-width:768px) {
    .ga {
        width: 20px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .ga {
        width: 20px;
    }
}

/* ------------------------------------------------------------------------------------------------ */

.flags {
    background-color: rgb(231, 231, 231);
}

/* PC */
@media screen and (min-width:768px) {
    .flags {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .flags {
        padding-top: 130px;
        padding-bottom: 70px;
    }
}

.profile {
    margin: 0 auto;
    position: relative;
    background-size: cover;
    background-color: white;
    background-position: 50% 50%;
    background-image: url(../images/inkbg.png);
    /* ink背景画像 */
}

/* PC */
@media screen and (min-width:768px) {
    .profile {
        width: 1100px;
        padding-top: 50px;
        padding-bottom: 100px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .profile {
        width: 600px;
        padding-top: 30px;
        padding-bottom: 50px;
    }
}

.pro--logo {
    position: absolute;
    object-fit: contain;
}

/* PC */
@media screen and (min-width:768px) {
    .pro--logo {
        width: 230px;
        height: auto;
        top: -50px;
        left: 15px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .pro--logo {
        width: 200px;
        height: auto;
        top: -100px;
        left: -5px;
    }
}




.profiletitle {
    margin: 0 auto;
}

/* PC */
@media screen and (min-width:768px) {
    .profiletitle {
        padding-bottom: 45px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .profiletitle {
        padding-bottom: 20px;
    }
}

.about--pro {
    text-align: center;
}

/* PC */
@media screen and (min-width:768px) {
    .about--pro {
        margin-bottom: 80px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .about--pro {
        margin-bottom: 50px;
    }
}

.about--pro p {
    font-weight: bold;
}

/* PC */
@media screen and (min-width:768px) {
    .about--pro p {
        font-size: 18px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .about--pro p {
        font-size: 14px;
    }
}


.points {
    margin: 0 auto;
}

/* PC */
@media screen and (min-width:768px) {
    .points {
        width: 970px;
        display: flex;
        align-items: center;


    }
}

/* SP */
@media screen and (max-width:767px) {
    .points {
        width: 300px;
        display: flex;
        flex-direction: column-reverse;
    }
}



.iphone {
    object-fit: contain;
}

/* PC */
@media screen and (min-width:768px) {
    .iphone {
        width: 300px;
        height: 500px;

    }
}

/* SP */
@media screen and (max-width:767px) {
    .iphone {
        width: 300px;
        height: 500px;
        margin: 0 auto;
    }
}

.points--box {}

/* PC */
@media screen and (min-width:768px) {
    .points--box {
        width: 620px;
        height: 325px;
        flex-wrap: wrap;
        display: flex;
        gap: 15px;
        margin-left: 50px;

    }
}

/* SP */
@media screen and (max-width:767px) {
    .points--box {
        width: 300px;
        height: 665px;
        /* height: 560px; */
        margin: 0 auto;
        gap: 15px;
        margin-bottom: 50px;
    }
}


.pink--box {
    display: flex;
    padding: 8px;
    align-items: center;
    background-color: rgb(255, 67, 95);
}

/* PC */
@media screen and (min-width:768px) {
    .pink--box {
        width: 300px;
        height: 70px;

    }
}

/* SP */
@media screen and (max-width:767px) {
    .pink--box {
        width: 300px;
        height: 70px;

    }
}

.pink--box img {
    object-fit: contain;
    padding-right: 10px;
}

/* PC */
@media screen and (min-width:768px) {
    .pink--box img {
        width: 50px;
        height: auto;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .pink--box img {
        width: 50px;
        height: auto;
    }
}

.p-1 {
    color: white;

}

.actions {

    margin: 0 auto;
    position: relative;
    background-color: white;
}

/* PC */
@media screen and (min-width:768px) {
    .actions {
        width: 1100px;
        margin-top: 100px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .actions {
        width: 600px;
        margin-top: 110px;

    }
}

.ac--logo {
    position: absolute;
    object-fit: contain;
}

/* PC */
@media screen and (min-width:768px) {
    .ac--logo {
        width: 230px;
        height: auto;
        top: -50px;
        left: 5px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .ac--logo {
        width: 200px;
        height: auto;
        top: -90px;
        left: 5px;
    }
}

.ac--title {
    margin: 0 auto;
}

/* PC */
@media screen and (min-width:768px) {
    .ac--title {
        padding-bottom: 40px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .ac--title {
        padding-bottom: 30px;
    }
}





/* メイン5　ここから */
/* ----------------------------------------------------------------------------------------- */

.step--2 {
    height: 2000px;
    background-color: white;
}

.about--support {
    height: 300px;
    background-color: rgb(255, 81, 110);
}








/* フッター ここから*/
/* --------------------------------------------------------------------------------------- */
footer {
    color: darkblue;
    background: gainsboro;

}

/* h1 会社概要 */
.footer_title {

    text-align: center;
    padding: 60px;


}

/* グレー枠　概要タイトル&内容Ï */
.container {
    margin: auto;
    display: flex;
}


/* グレー枠　概要タイトル */
.box {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    line-height: 60px;
    margin: auto;
    padding-bottom: 5%;

}

/* グレー枠　概要内容 */
.box2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: left;
    line-height: 60px;
    margin: auto;
    padding-bottom: 5%;

}

/* 青枠フッター */
#footer_under {
    text-align: center;
    font-size: 1.5rem;
    line-height: 70px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    background: rgb(103, 103, 196);
}