@charset "utf-8";

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
    overflow: hidden;
}

/* PC */
@media screen and (min-width: 768px) {

    /* 画面サイズが768pxからはここを読み込む */
    .wrapper {
        min-width: 1200px;
        /* PC ラッパー部分横幅1200px */
    }
}

/* SP */
@media screen and (max-width: 767px) {

    /* 画面サイズが767pxまではここを読み込む */
    .wrapper {
        width: 100%;
    }
}

/* ヘッダー ここから */
/*---------------------------------------------------------------------*/
.header {
    position: fixed;
    /*  要素の位置を固定 */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
}

/* PC */
@media screen and (min-width: 768px) {
    .header {
        padding: 30px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .header {
        padding: 20px;
    }
}

.header h1 {
    font-weight: bold;
    /* 太字 */
}

/* PC */
@media screen and (min-width: 768px) {
    .header h1 {
        font-size: 30px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .header h1 {
        font-size: 20px;
    }
}

/* KV　ここから */
/* ------------------------------------------------------------------------------------ */
/* グラデーション枠 */
.outer {
    position: relative;
    display: inline-block;
    /* 横並び */
    background: linear-gradient(to right, rgb(254, 82, 111), rgb(68, 120, 251));
    width: 100%;
}

/* PC */
@media screen and (min-width: 768px) {
    .outer {
        height: 600px;
        margin-top: 90px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .outer {
        height: 500px;
        margin-top: 60px;
    }
}

.outer--bg,
.outer--bg img {
    width: 100%;
    height: 100%;
}

.outer--bg img {
    opacity: .5;
    object-fit: cover;
    /* アスペクト維持したまま拡大縮小 */
    object-position: center;
}



/* 透明な白枠内 */
.inner {
    display: flex;
    /* 横並び */
    position: absolute;
    background-color: rgb(255, 255, 255, .5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*  中央揃え */
}

/* PC */
@media screen and (min-width: 768px) {
    .inner {
        align-items: center;
        /* アイテムを中央付近にまとめる */
        gap: 60px;
        /*  行や列の隙間 */
        width: fit-content;
        /*  ボックス */
        padding: 40px 60px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .inner {
        flex-direction: column;
        /*  主軸の方向や向き */
        gap: 30px;
        width: 80%;
        padding: 30px 20px;
    }
}

.inner2 {
    display: flex;
    flex-direction: column;
    /* 主軸の方向や向き */
}

/* PC */
@media screen and (min-width: 768px) {
    .inner2 {
        gap: 30px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .inner2 {
        gap: 30px;
        /* 行や列の隙間 */
    }
}


/* PC */
@media screen and (min-width: 768px) {
    .herotitle {
        width: 500px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .herotitle {
        width: 100%;
    }
}

/* Instagram運用ならお任せください */
.herotitle img {
    width: 100%;
}

/* 運用を支援します */
.words {
    text-align: center;
    /* 中央揃え */
}

.words p {
    font-family: "Yu Gothic Medium", "游ゴシック Medium", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";
    line-height: 1.5;
}

/* PC */
@media screen and (min-width: 768px) {
    .words p {
        font-size: 20px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .words p {
        font-size: calc((12 / 390) * 100vw);
    }
}

.contact {
    background-color: rgb(252, 59, 91);
    height: fit-content;
    /* 親要素からはみ出さず伸縮 */
    display: block;
    /*  横に広がり縦に並ぶ */
    padding: 10px;
}

/* PC */
@media screen and (min-width: 768px) {
    .contact {
        width: 400px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .contact {
        width: fit-content;
        /* ボックス */
        margin: 0 auto;
        /*  中央揃え */
    }
}

.contact .contact--inner {
    padding: 20px 0;
    border: 2px solid white;
    /* ボーダー */
}

/* PC */
@media screen and (min-width: 768px) {
    .contact .contact--inner {
        padding: 20px 0;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .contact .contact--inner {
        padding: 30px 20px;
    }
}

.contact .contact--inner p {
    text-align: center;
    color: white;
}

/* PC */
@media screen and (min-width: 768px) {
    .contact .contact--inner p {
        font-size: 16px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .contact .contact--inner p {
        font-size: calc((12 / 390) * 100vw);
    }
}

.outer .inner .inner--deco {
    display: contents;
    /* ボックス非生成 */
}

.outer .inner .inner--deco .icon {
    aspect-ratio: 236/172;
    /* 推奨アスペクト比 width/height */
    background-size: contain;
    /* コンテナー内で可能な限り大きく */
    background-repeat: no-repeat;
    /*  背景画像をリピートしない */
    background-position: center;
    position: absolute;
    /* 画像　上 */
}

.outer .inner .inner--deco .icon:nth-child(1),
.outer .inner .inner--deco .icon:nth-child(6),
.outer .inner .inner--deco .icon:nth-child(7) {
    background-image: url(/images/hukidasi1.png);
}

.outer .inner .inner--deco .icon:nth-child(2),
.outer .inner .inner--deco .icon:nth-child(4) {
    background-image: url(/images/hukidasi3.png);
}

.outer .inner .inner--deco .icon:nth-child(3),
.outer .inner .inner--deco .icon:nth-child(5) {
    background-image: url(/images/hukidasi4.png);
}

/* PC */
@media screen and (min-width: 768px) {
    .outer .inner .inner--deco .icon:nth-child(1) {
        width: 40px;
        left: 0;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .outer .inner .inner--deco .icon:nth-child(1) {
        width: 6%;
        left: -5%;
    }
}

/* PC */
@media screen and (min-width: 768px) {
    .outer .inner .inner--deco .icon:nth-child(2) {
        width: 80px;
        left: -50px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .outer .inner .inner--deco .icon:nth-child(2) {
        width: 10%;
        left: -2%;
    }
}

/* PC */
@media screen and (min-width: 768px) {
    .outer .inner .inner--deco .icon:nth-child(3) {
        width: 50px;
        left: 30px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .outer .inner .inner--deco .icon:nth-child(3) {
        width: 8%;
        left: 1%;
    }
}

/* PC */
@media screen and (min-width: 768px) {
    .outer .inner .inner--deco .icon:nth-child(4) {
        width: 80px;
        right: 10px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .outer .inner .inner--deco .icon:nth-child(4) {
        width: 10%;
        right: 1%;
    }
}

/* PC */
@media screen and (min-width: 768px) {
    .outer .inner .inner--deco .icon:nth-child(5) {
        width: 40px;
        right: 500px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .outer .inner .inner--deco .icon:nth-child(5) {
        width: 6%;
        right: 0%;
    }
}

/* PC */
@media screen and (min-width: 768px) {
    .outer .inner .inner--deco .icon:nth-child(6) {
        width: 40px;
        right: 60px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .outer .inner .inner--deco .icon:nth-child(6) {
        width: 6%;
        right: -3%;
    }
}

/* PC */
@media screen and (min-width: 768px) {
    .outer .inner .inner--deco .icon:nth-child(7) {
        width: 60px;
        right: 530px;
    }
}

/* SP */
@media screen and (max-width: 767px) {
    .outer .inner .inner--deco .icon:nth-child(7) {
        width: 8%;
        right: -9%;
    }
}

/* アニメーション */
/* toTop */
/* ------------------------------------------------------------------------ */
.toTop {
    animation: toTop 8s ease-in-out infinite;
    opacity: 0;
}

@keyframes toTop {
    0% {
        bottom: 0;
        opacity: 0;
    }

    5% {
        bottom: 0;
        opacity: .3;
    }

    10% {
        bottom: 0;
        opacity: 1;
    }

    100% {
        bottom: 95%;
        opacity: 0;
    }
}

/* animation-delay */
.delay05 {
    animation-delay: 0.5s;
}

.delay10 {
    animation-delay: 1s;
}

.delay15 {
    animation-delay: 1.5s;
}

.delay20 {
    animation-delay: 2s;
}

/* animation-duration */
.duration5 {
    animation-duration: 5s;
}

.duration10 {
    animation-duration: 10s;
}

/* KV ここまで */

/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー*/
/* KV2 ここから */
.comment {
    background-color: white;
}

/* PC */
@media screen and (min-width:768px) {
    .comment {
        padding: 15px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .comment {
        padding: 20px;
    }
}


/* ハート、吹き出し、紙飛行機、ブクマ */
.comment .instaicon {
    display: flex;
}



/* ブクマ */
.icon2 {
    background-color: white;
}

/* PC */
@media screen and (min-width:768px) {
    .icon2 {
        margin-left: auto;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .icon2 {
        margin-left: auto;
    }
}

/* 顔のアイコン */
.goodicon {
    display: flex;
    margin-top: 15px;
    margin-bottom: 25px;
}

/* いいね! */
.goodicon p {
    margin-top: 10px;
    margin-left: 10px;
}

.messages {
    display: flex;
    padding-bottom: 20px;
}

.KV--words h4 {
    font-weight: bold;
    padding-right: 20px;
}

/* ハッシュタグ */
.hashtug {
    display: flex;
    font-size: 15px;
    color: rgb(53, 53, 156);
    gap: 15px;
}

/* .hushtug p{
    padding:10px;
} */

/* KV2 ここまで */

/* メイン　ここから */
/* ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.onayami {
    background-color: white;
    position: relative;
    background-image: url(../images/detailbg.png);
    /* 背景画像 */
    background-position: 50% 50%;
    /* 画像中央を起点に表示 */
}

/* PC */
@media screen and (min-width:768px) {
    .onayami {
        background-size: cover;
        /* 縦横比を維持しながら全体に収まるように表示 */

    }
}

/* SP */
@media screen and (max-width:767px) {
    .onayami {
        background-size: cover;

    }

}

.onayami--logo {
    margin: 0 auto;
}

/* PC */
@media screen and (min-width:768px) {
    .onayami--logo {
        width: 718px;
        padding-top: 100px;

    }

}

/* SP */
@media screen and (max-width:767px) {
    .onayami--logo {
        width: 500px;
        padding-top: 100px;
    }

}

.onayami--logo img {
    display: block;
}

/* SP */
@media screen and (max-width:767px) {
    .onayami--logo img {
        width: 500px;
        height: auto;
    }
}

/* オレンジの雲 */
.motion2 {
    position: absolute;

}

/* PC */
@media screen and (min-width:768px) {
    .motion2 {
        width: 250px;
        height: auto;
        left: 30px;
        top: 50px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .motion2 {
        width: 150px;
        height: auto;
        top: 30px;
        left: 25px;
    }
}


/* ピンクの雲 */
.motion3 {
    position: absolute;

}

/* PC */
@media screen and (min-width:768px) {
    .motion3 {
        width: 350px;
        height: auto;
        right: 60px;
        top: 50px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .motion3 {
        width: 200px;
        height: auto;
        right: 30px;
        top: 20px;
    }
}


/* ブルーの雲 */
.motion4 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .motion4 {
        width: 200px;
        height: auto;
        left: 200px;
        top: 400px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .motion4 {
        width: 130px;
        height: auto;
        left: 40px;
        top: 300px;
    }
}


.hukidashi--all {
    position: relative;
}

/* PC */
@media screen and (min-width:768px) {
    .hukidashi--all {
        height: 900px;
        left: 50px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .hukidashi--all {
        height: 700px;
    }

}

.hukidashi--1 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .hukidashi--1 {
        width: 250px;
        height: auto;
        top: 250px;
        left: 300px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .hukidashi--1 {
        width: 200px;
        height: auto;
        top: 200px;
        left: 50px;
    }
}

.hukidashi--2 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .hukidashi--2 {
        width: 250px;
        height: auto;
        top: 200px;
        left: 550px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .hukidashi--2 {
        width: 200px;
        height: auto;
        top: 200px;
        left: 250px;
    }
}

.hukidashi--3 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .hukidashi--3 {
        width: 250px;
        height: auto;
        top: 250px;
        left: 800px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .hukidashi--3 {
        width: 200px;
        height: auto;
        top: 200px;
        left: 450px;
    }
}

.hukidashi--4 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .hukidashi--4 {
        width: 250px;
        height: auto;
        top: 400px;
        left: 250px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .hukidashi--4 {
        width: 200px;
        height: auto;
        top: 350px;
        left: 30px;
    }
}

.hukidashi--5 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .hukidashi--5 {
        width: 250px;
        height: auto;
        top: 450px;
        left: 550px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .hukidashi--5 {
        width: 200px;
        height: auto;
        top: 400px;
        left: 250px;
    }
}

.hukidashi--6 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .hukidashi--6 {
        width: 300px;
        height: auto;
        top: 500px;
        left: 800px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .hukidashi--6 {
        width: 200px;
        height: auto;
        top: 450px;
        left: 450px;
    }
}

.hukidashi--7 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .hukidashi--7 {
        width: 250px;
        height: auto;
        top: 600px;
        left: 250px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .hukidashi--7 {
        width: 200px;
        height: auto;
        top: 550px;
        left: 60px;
    }
}

.hukidashi--8 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .hukidashi--8 {
        width: 250px;
        height: auto;
        top: 700px;
        left: 550px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .hukidashi--8 {
        width: 200px;
        height: auto;
        top: 650px;
        left: 280px;
    }
}

.hukidashi--9 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px) {
    .hukidashi--9 {
        width: 150px;
        height: auto;
        top: 700px;
        left: 850px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .hukidashi--9 {
        width: 100px;
        height: auto;
        top: 600px;
        left: 500px;
    }
}

/* PC */
@media screen and (min-width:768px) {
    .onayami--person {
        width: 800px;
        left: 120px;
        top: 700px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .onayami--person {
        top: 40px;
        left: 70px;
        width: 600px;

    }
}


/* 雲 */
.motion5 {
    position: absolute;
}

/* PC */
@media screen and (min-width:768px){
    .motion5{
        padding-bottom: 300px;
    }
}

/* SP */
@media screen and (max-width:767px){
    .motion5{
        padding-bottom: 100px;
    }
}


.omakase {
    position: relative;

}

/* PC */
@media screen and (min-width:768px) {
    .omakase {
        width: 750px;
        height: 400px;
        padding-bottom: 150px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .omakase {
        width: 500px;
        height: 250px;
        padding-bottom: 50px;
    }
}

.omakase--logo {
    object-fit: contain;
    object-position: center;
    width: 100%;
    height: 100%;

}


.denkyu {
    position: absolute;
}


/* PC */
@media screen and (min-width:768px) {
    .denkyu {
        width: 80px;
        height: auto;
        top: 5px;
        right: 120px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .denkyu {
        width: 50px;
        height: auto;
        top: 5px;
        right: 60px;
    }
}





/* PC */
@media screen and (min-width:768px) {
    .motion5 {
        width: 1100px;
        height: auto;
        bottom: 100px;
        left: 150px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .motion5 {
        width: 750px;
        height: auto;
        bottom: 200px;
    }
}


/* メイン　１　ここまで */

/* メイン２ ここから */
/* --------------------------------------------------------------------------------------*/

/* ピンク　背景 */
.how {
    background-color: rgb(255, 229, 233);
    background-image: url(../images/bg.png);
    /* 背景画像 */
    background-position: 50% 50%;
    /* 画像中央を起点に表示 */
}

/* PC */
@media screen and (min-width:768px) {
    .how {
        background-size: cover;
    }
}

@media screen and (max-width:767px) {
    .how {
        background-size: cover;
    }
}

/* グラムニスタ　とは */
.how--logo {
    margin: auto;
}

/* PC */
@media screen and (min-width:768px) {
    .how--logo {
        padding-top: 150px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .how--logo {
        padding-top: 100px;
    }
}

.how--box {
    background: white;
    border-radius: 30px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.25);


}

/* PC */
@media screen and (min-width:768px) {
    .how--box {
        height: 1000px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

/* SP */
@media screen and (max-width:767px) {
    .how--box {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.how--box2 {
    width: 400px;
    height: 300px;
    position: absolute;
    display: inline-block;
    background: gainsboro;
    border-radius: 20px;
}

/* @media screen and (min-width:768px) {
    .how--box2 {}
}

@media screen and (max-width:767px) {
    .how--box2 {}
} */

/* メイン2 ここまで */

/* メイン３　ここから */
/* ----------------------------------------------------------------------------------------------- */
.step1 {
    background: white;

}

.step1--box {
    background: rgb(228, 37, 101);
}

.about--step1 {
    /* step1画像 */
    width: 35%;
    height: auto;
    margin: auto;
    padding: 80px;
    display: block;
}


.sideline {
    position: relative;
}

.sideline--l {
    /* サイドライン左 */
    position: absolute;
}

.sideline--r {
    /*  サイドライン右 */
    position: absolute;
    right: 0;
}

.crown {
    padding-top: 5%;
    display: flex;
    align-items: flex-end;
    /* 子要素の高さを指定 */
    justify-content: center;
    /* 中央配置 */

}

.crown img {
    margin-right: 30px;
}

.crown p {
    font-size: 2rem;
    color: black;
}

/* .action {

} */

/* ------------------------------------------------------------------------------------------------ */

.flags {
    height: 2000px;
    background-color: rgb(231, 231, 231);
}

.profile {
    width: 1000px;
    height: 100%;
    position: relative;
    background-color: white;
    background-position: 50% 50%;
    /* 画像中央を起点に表示 */
    background-size: contain;
    /* 縦横比を維持しながら全体に収まるように表示 */
    /* background: no-repeat; */
    background-image: url(../images/inkbg.png);
    /* 背景画像 */
}

.profile--flag {
    position: absolute;
}

.actions {
    background-color: white;
}

/* メイン5　ここから */
/* ----------------------------------------------------------------------------------------- */

.step--2 {
    height: 2000px;
    background-color: white;
}

.about--support {
    height: 300px;
    background-color: rgb(255, 81, 110);
}








/* フッター ここから*/
/* --------------------------------------------------------------------------------------- */
footer {
    color: darkblue;
    background: gainsboro;

}

/* h1 会社概要 */
.footer_title {

    text-align: center;
    padding: 60px;


}

/* グレー枠　概要タイトル&内容Ï */
.container {
    margin: auto;
    display: flex;
}


/* グレー枠　概要タイトル */
.box {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    line-height: 60px;
    margin: auto;
    padding-bottom: 5%;

}

/* グレー枠　概要内容 */
.box2 {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    text-align: left;
    line-height: 60px;
    margin: auto;
    padding-bottom: 5%;

}

/* 青枠フッター */
#footer_under {
    text-align: center;
    font-size: 1.5rem;
    line-height: 70px;
    padding: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
    background: rgb(103, 103, 196);
}