// フォント
// font-family: Noto Serif JP;
@mixin serif {
  font-family: "Noto Serif JP", serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}

// font-family: Noto Sans JP;
@mixin sans {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}


// サイズ
@function p($size, $viewport: 1280) {
  $rate: calc(100 / $viewport);
  @return $rate * $size * 1vw;
}
// font-size: p(50);

@function pm($size, $maxSize: $size, $viewport: 1280) {
  $rate: calc(100 / $viewport);
  $calculatedSize: $rate * $size * 1vw;
  @return max(#{$calculatedSize}, #{$maxSize}px);
}
// font-size: pm(50,40);

@function pmin($size, $maxSize: $size, $viewport: 1280) {
  $rate: calc(100 / $viewport);
  $calculatedSize: $rate * $size * 1vw;
  @return min(#{$calculatedSize}, #{$maxSize}px);
}
// font-size: pmin(-50,-40);

@function s($size, $viewport: 390) {
  $rate: calc(100 / $viewport);
  @return $rate * $size * 1vw;
}
// font-size: s(50);

