$pc: 768px; // PC
$sp: 767px;  // スマホ

@mixin pc {
  @media screen and (min-width: ($pc)) {
    @content;
  }
}
@mixin sp {
  @media  screen and (max-width: ($sp)) {
    @content;
  }
}

// どセンター
@mixin center{
  display: flex;
  justify-content: center;
  align-items: center;
}


// 縦並び間空き
@mixin column($gap){
  display: flex;
  flex-direction: column;
  gap: $gap;
}
// ↓CSSでは
// @include column( calc(( 50 / 1280) * 100vw) );


// background-contain
@mixin imgContain($img){
  background-image: url('/img/#{$img}');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
// ↓CSSでは
// @include imgContain('example.jpg');


// background-cover
@mixin imgCover($img){
  background-image: url('/img/#{$img}');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
// ↓CSSでは
// @include imgCover('example.jpg');


// backgroundIcon-contain
@mixin iconContain($img){
  background-image: $img;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
// ↓CSSでは
// @include iconContain($dot);


// backgroundIcon-cover
@mixin iconCover($img){
  background-image: $img;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
// ↓CSSでは
// @include iconCover($dot);



// 関数の使い方
// @mixin test($sidePadding : calc(( 98 / 1280) * 100vw) , $sidemargin : 0 0 0 auto ){
//   .test--btn{
//     padding: calc(( 6 / 1280) * 100vw) $sidePadding calc(( 2 / 1280) * 100vw);
//     margin: $sidemargin;
//   }
// }


// @mixin img($img){
//   background-image: url('/img/#{$img}');
//   background-size: contain;
//   background-position: center;
//   background-repeat: no-repeat;
// }
// ↓CSSでは
// @include img('example.jpg');
