@charset "UTF-8";
/* -----------------------
リセット
----------------------- */
html, body, h1, h2, h3, h4, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  overflow-wrap: break-word;
  word-break: break-all;
}

article, header, footer, aside, figure, figcaption, nav, section {
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

button {
  background: none;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

/* -----------------------
  unity
----------------------- */
@media screen and (min-width: 768px) {
  .sp {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .pc {
    display: none !important;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10%;
}

@media screen and (max-width: 767px) {
  body.active {
    overflow: hidden;
  }
}

.whopper {
  overflow: hidden;
}

/* -----------------------
  anime
----------------------- */
.hover-opa {
  transition: 0.3s;
}
.hover-opa:hover {
  opacity: 0.6;
}

.hover-scale {
  transition: 0.3s;
}
.hover-scale:hover {
  transform: scale(1.05);
}

.up {
  opacity: 0;
}
.up.show {
  opacity: 0;
  transform: translateY(100%);
  animation: up 0.5s ease 0.5s forwards;
}
@keyframes up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.down {
  opacity: 0;
}
.down.show {
  opacity: 0;
  transform: translateY(-100%);
  animation: down 0.5s ease 0.5s forwards;
}
@keyframes down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.left {
  opacity: 0;
}
.left.show {
  opacity: 0;
  transform: translateX(100%);
  animation: left 0.5s ease 0.5s forwards;
}
@keyframes left {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.right {
  opacity: 0;
}
.right.show {
  opacity: 0;
  transform: translateX(-100%);
  animation: right 0.5s ease 0.5s forwards;
}
@keyframes right {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.pop {
  opacity: 0;
  transform: scale(0.5);
}
.pop.show {
  opacity: 0;
  transform: scale(0.5);
  animation: pop 0.5s ease 0.5s forwards;
}
@keyframes pop {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* -----------------------
  header
----------------------- */
/* -----------------------
  footer
----------------------- */
/* -----------------------
  C_
----------------------- */
/* -----------------------
  third
----------------------- */
/* -----------------------
  forth
----------------------- */
/* -----------------------
  C_example
----------------------- */
/* -----------------------
  front
----------------------- */
/* -----------------------
  second
----------------------- */

/*# sourceMappingURL=main.css.map */
